.navigation{
    background-color: blue;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 12px;
    padding-bottom: 11px;
    width: 500px; height: 37px; object-fit: cover; border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width:1200px)
}